.contactContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    height: 100vh;
}

.contactMeText{
    color: red;
    padding-top: 100px;
}

.contactLogosAndTextContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    width: 100%;
}

.contactLinkedInIMG{
    display: flex;
    height: 60%;
    width: 20%;
    object-fit: cover;
}

.linkLinkedIn{
    display: flex;
    background-color: red;
}

.sphereIMG{
    width: 25%;
}

.contactGmailIMG{
    display: flex;
    height: 20%;
    margin-top: 10px;
}

.contactGitHubIMG{
    display: flex;
    height: 20%;
}

@keyframes contactLogosAndTextContainer {
    from {
        opacity: 0%;
    }
    to {
        opacity: 90%;
    }
}

.contactLogosAndTextContainer img {
    animation: textContainerHome 3s;
}